*{
    background-color:#000b15;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-full-integrantes{
    max-width: 100vw;
    min-height: 90vh;
    max-height: 275vh;
    color: white;
    position: relative;
    transition: all 0.3s ease;
    overflow-x: hidden;
    overflow-y: hidden;
}
.linea {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    background-color: #fff;
    transform: translateX(-50%);
}
.arboldeintegrantes{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 61px;
    background: #000b15;
    width: 100%; 
    height: 240vh;
    margin-top: 30vh; 
    padding: 20px; 
    transition: transform 0.3s ease-in-out;
   
}
.card{
    position: relative;
    width: 50%;
    height: 100%;
    padding: 1rem;
    text-align: center;
    background: #000b15;
    box-shadow:  
    -5px 5px 10px #000408,
    5px -5px 10px #001222;
    border-radius: 15px;
    margin-bottom: 12rem;
    transition: transform 0.3s ease;
   
   
    
}

.card-details {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.eleccion-contenido-cards{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80vh;
    align-items: center;
    margin: auto auto;
    margin-top: 1.9rem;
    
    
}
.integrantes{
    border-radius: 20px;
    background: #00529e28;
    box-shadow:  
    -5px 5px 10px #000408,
    5px -5px 10px #001222;
    width: 50%;
    height: 100%;
    margin: 1rem 1rem;
    border: 1px solid rgba(224, 224, 224, 0.575);
    font-weight: 800;
}
.integrantes h1{
    width: 80%;
    height: auto;
    padding: 0.5rem;
    margin: 0.5rem auto;
    text-align: center;
    background: transparent;
    color: rgba(224, 224, 224, 0.925);
    border-bottom: 1px solid white;
}
.integrantes p{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.5rem auto;
    text-align: center;
    background: transparent;
    color: rgba(224, 224, 224, 0.925);
    justify-content: space-between;
    align-items: center;
    
    
}
.integrantes:hover{
    transition: transform 0.1s ease;
    background-color: rgba(66, 66, 228, 0.075);
    transform: scale(1.01);
}

.sinfuncion{
    border-radius: 20px;
    background: #00529e28;
    box-shadow:  
    -5px 5px 10px #000408,
    5px -5px 10px #001222;
    width: 50%;
    height: 100%;
    margin: 1rem 1rem;
    border: 1px solid rgba(224, 224, 224, 0.575);
}

.btn-eleccion{
    width: 40%;
    height: auto;
    color: white;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: 800;
    font-size: 1rem;
    border: 2px solid white;
}

.btn-eleccion:hover{
    background-color: #7d9fbd59;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: auto;
    margin-bottom: 1.4rem;
    
}

.header .banner{
    width: 40%;
}






